.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #0d0d0d;
}

.canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: #17aeff;
    background: radial-gradient(circle, rgba(23, 174, 255, 1) 0%, rgba(31, 162, 255, 1) 100%);
}

.ui-container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;

    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas:
    "TOP TOP TOP"
    "LEFT . RIGHT"
    "BOTTOM BOTTOM BOTTOM";

}

.ui-top {
    grid-area: TOP;
    grid-template-areas: "TOP-LEFT TOP-CENTER TOP-RIGHT";
}

.ui-top > div,
.ui-bottom > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-top-left {
    grid-area: TOP-LEFT;
}

.ui-top-center {
    grid-area: TOP-CENTER;

}

.ui-top-right {
    grid-area: TOP-RIGHT;
}

.ui-left {
    grid-area: LEFT;
}

.ui-right {
    grid-area: RIGHT;

}

.ui-bottom {
    grid-area: BOTTOM;
    grid-template-areas: "BOTTOM-LEFT BOTTOM-CENTER BOTTOM-RIGHT";
}

.ui-top,
.ui-left,
.ui-right,
.ui-bottom {
    position: relative;
    display: grid;
}

.ui-top,
.ui-bottom {
    grid-template-columns: 1fr 6fr 1fr;
}

.toggle {
    position: relative;
    width: 6rem;
    height: 3rem;
}

.toggle-label {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    cursor: pointer;
    display: flex;
}

.toggle-image-container {
    flex: 1;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s ease-in;
}

.toggle-image {
    width: 1.5rem;
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center center;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.toggle-label::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    inset: 0;
    background-color: #fff;
    transition: transform .2s ease-in-out;
    z-index: -1;
}

.toggle-checkbox {
    display: none;
}

.toggle-checkbox:checked ~ .toggle-label::before {
   transform: translateX(100%);
}

.toggle-checkbox:checked ~ .toggle-label .toggle-image-container:first-child,
.toggle-checkbox ~ .toggle-label .toggle-image-container:last-child {
    opacity: 0.5;
}
.toggle-checkbox ~ .toggle-label .toggle-image-container:first-child,
.toggle-checkbox:checked ~ .toggle-label .toggle-image-container:last-child {
    opacity: 1.0;
}

.toolbox,
.toggle {
    pointer-events: auto;
    background-color: #f2f2f298;
    border: 2px solid #fff;
    border-radius: .5rem;
    overflow: hidden;
}