@import './assets/pear-stand.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
}

#app {
    position: relative;
}

div[aria-hidden="true"] {
    display: none !important;
}